{{- /* templates/ingress.yaml: จัดการเรื่อง Routing ภายนอกเข้าสู่ Service ต่างๆ */ -}}
{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: sample-ingress
  labels:
    {{- include "sample.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
  - http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ .Values.nginx.name }}
            port:
              number: {{ .Values.nginx.service.port }}
{{- end }}
